/* @Autor - PedroLins*/

body {
  background: linear-gradient(25deg, #fff, #7091ce);
  background-attachment: fixed;
}

/** BOTÕES */
.btn-azul {
  background-color: #0e2d8a;
}

.btn-azul:hover {
  background: #3c8be6;
}

.entrar {
  background-color: #0e2d8a;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 8px #00000013;
}

.entrar:hover {
  background-color: #3c8be6;
  color: #fff;
}

.navbar-custom .navbar-toggler {
  background-color: #0e2d8a;
  border: none;
}

.navbar-custom .navbar-toggler:hover {
  background-color: #3c8be6;
  transition: all 0.2s ease-in-out;
  border: none;
}

.navbar-custom .navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem #6283a8;
}

/** NAVBAR */
.navbar-custom .container {
  gap: 0.75rem;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .nav-link {
  color: #0c1e3d;
  font-size: large;
  transition: all 0.2s ease-in-out;
}

.navbar-custom .nav-link:hover {
  color: #2368b8;
  transform: scale(1.02);
}

/** SEARCH */
#searchImovel .input-group {
  background-color: #ffffffd8;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 3px 12px #00000026;
}

#searchImovel input {
  border: none;
  padding: 0 18px;
  font-size: 0.95rem;
  background-color: transparent;
}

#searchImovel input::placeholder {
  color: #777777e0;
}

#searchImovel .btn-azul {
  border: none;
  border-radius: 0;
  transition: 0.2s;
}

#searchImovel .btn-azul i {
  font-size: 1.1rem;
}

#searchImovel input:focus {
  outline: none;
  box-shadow: none;
}
